<div class="min-h-screen bg-gray-50 py-8">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <%= render 'shared/page_header', 
        title: t('lists.title'), 
        subtitle: t('lists.subtitle'),
        button_path: new_list_path,
        button_text: t('lists.new_list') %>

    <%= render 'shared/notice_flash' %>

    <% if @lists.any? %>
      <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3">
        <%= render partial: 'lists/list_card', collection: @lists, as: :list %>
      </div>
    <% else %>
      <%= render 'shared/empty_state',
          icon_path: 'M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2',
          title: t('lists.empty_state.title'),
          description: t('lists.empty_state.description'),
          button_path: new_list_path,
          button_text: t('lists.new_list') %>
    <% end %>
  </div>
</div>
