<div class="min-h-screen bg-gray-50 py-8">
  <div class="max-w-2xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="mb-4">
      <%= render 'shared/back_link', path: lists_path, text: 'Back to Lists' %>
    </div>

    <%= render 'shared/page_header', 
        title: 'Create New List', 
        subtitle: 'Add a new list to organize your tasks' %>

    <div class="bg-white shadow-sm rounded-lg border border-gray-200">
      <div class="px-6 py-5">
        <%= render 'form', list: @list, cancel_path: lists_path, submit_text: 'Create List' %>
      </div>
    </div>
  </div>
</div>
